* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0b13;
}

.container {
    max-width: 70%;
    margin: auto;
    text-align: center;
    color: rgb(216, 216, 216);
}

h1 {
    margin-bottom: 2rem;
}

header {
    width: 100%;
}

nav {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    margin: 1rem 0;
    color: rgb(216, 216, 216);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 .5rem;
}

nav ul li a {
    color: rgb(216, 216, 216);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}